body {
  font-family: "Arial", sans-serif;
  background-color: #346488;
}

menu {
    background-color: #0E3A5C;
  width: 100%;
  position: absolute;
}

ul {
    display: inline-block;
}

li {
    float: left;
    list-style-type: none;
    background-color: #0E3A5C;

}

li:hover {
    background-color: #7FA4C0;
}

li a{
    color: white;
    display: block;
    padding: 8px;
    text-decoration: none;
}

li.current {
    background-color: #7FA4C0;
}
